<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_HOST</key>
	<string>https://api.capitaland.com.cn/APP_API/</string>
	<key>API_DOMAIN</key>
	<string>capitaland.com.cn</string>
	<key>Shopping_Mall</key>
	<string>mall.capitaland.com.cn</string>
	<key>HTTP_VIP</key>
	<string>https://vip.capitaland.com.cn/</string>
	<key>HTTP_S</key>
	<string>https</string>
</dict>
</plist>
