<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_HOST</key>
	<string>http://kdmallapipv.companycn.net/APP_API/</string>
	<key>API_DOMAIN</key>
	<string>companycn.net</string>
	<key>Shopping_Mall</key>
	<string>mallpv.companycn.net</string>
	<key>HTTP_VIP</key>
	<string>http://vippv.companycn.net/</string>
	<key>HTTP_S</key>
	<string>http</string>
</dict>
</plist>
